name: Build

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          ref: ${{ inputs.ref }}

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version: 1.24.x

      - name: Test
        run: make test

      - name: Acceptance Tests
        run: |
          go test -v ./internal/provider/... -timeout 120m
        env:
          TF_ACC: "1"
          POMERIUM_API_URL: ${{ secrets.POMERIUM_API_URL }}
          POMERIUM_API_TOKEN: ${{ secrets.POMERIUM_API_TOKEN }}

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          ref: ${{ inputs.ref }}

      - name: Lint
        uses: golangci/golangci-lint-action@55c2c1448f86e01eaae002a5a3a9624417608d84
        with:
          version: v1.64.8

  pre-commit:
    name: Pre-Commit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          ref: ${{ inputs.ref }}

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version: 1.24.x

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: "3.12"

      - name: Setup Pre-Commit
        run: python -m pip install pre-commit

      - name: Run Pre-Commit
        run: pre-commit run --show-diff-on-failure --color=always
