name: Build

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          ref: ${{ inputs.ref }}

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version-file: .tool-versions

      - name: Test
        run: make test

      - name: Acceptance Tests
        run: |
          go test -v ./internal/provider/... -timeout 120m
        env:
          TF_ACC: "1"
          POMERIUM_API_URL: ${{ secrets.POMERIUM_API_URL }}
          POMERIUM_API_TOKEN: ${{ secrets.POMERIUM_API_TOKEN }}

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          ref: ${{ inputs.ref }}

      - name: Lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20
        with:
          version-file: .tool-versions
          args: --timeout=10m

  pre-commit:
    name: Pre-Commit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          ref: ${{ inputs.ref }}

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version-file: .tool-versions

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: "3.12"

      - name: Setup Pre-Commit
        run: python -m pip install pre-commit

      - name: Run Pre-Commit
        run: pre-commit run --show-diff-on-failure --color=always
